{% extends "base.html" %} {% block content %}
<div class="row align-items-center">
  <div class="col-md-6">
    <h2>El planeta que dejaremos a nuestros hijos</h2>
    <p>
      Las decisiones que tomamos hoy impactarán directamente la calidad de vida
      de las próximas generaciones.
    </p>
    </div>
    <div class="col-md-6">
      <img
        src="{{ url_for('static', filename='images/futuro.jpg') }}"
        class="img-fluid rounded mb-3"
      />
    </div>
  </div>
  {% endblock %}
</div>
